<div class="form-group form-authentication">

  <label>Prénom</label>
  <input type="Prénom" class="form-control"/>
  
  <br/>

  <label>Nom</label>
  <input type="Prénom" class="form-control"/>

  <br/>

  <label for="exampleTextarea">Description</label>
  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>

  <br/>
  
  <label for="exampleInputEmail1">Adresse email</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  
  <br/>

  <label for="exampleInputPassword1">Mot de passe</label>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
  <small id="emailHelp" class="form-text text-muted">Minimum 6 caractères</small>
  
  <br/>

  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
    </div>
    <div class="input-group-append">
      <span class="input-group-text" id="">Upload</span>
    </div>
  </div>

  <br/>

  <div class="container row align-items-center">
    <button type="submit" class="btn btn-primary mr-3">Submit</button>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
      <label class="custom-control-label" for="customCheck1">Se rappeler de moi</label>
    </div>
  </div>

</div>



