<div class="jumbotron jumbotron-fluid jumbotron-primary">
  <div class="container">
    <h1 class="display-4 text-white">eventbrite!</h1>
    <p class="lead text-white"> tous les événements près de chez toi</p>
    <button class="btn btn-secondary btn-sm m-1" href="#">créé le tien</button>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-secondary">
  <div class="container">
    <h1 class="display-4 text-white"><span class="bg-primary">rejoins-nous !</span></h1>
  </div>
</div>