<div class="container">
  <div class="card border-primary mb-3 card-comment">
    <div class="card-body">
      <p class="card-text">Voilà un example de commentaire Voilà un example de commentaire Voilà un example de commentaire </p>
    </div>
    <div class="card-footer">
      posté par X <span class="float-right">le 8 Avril 2019, 12h30</span>
    </div>
  </div>
  <div class="form-comment">
    <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
    <button class="btn btn-secondary btn-sm float-right mt-3" type="submit">Commenter</button>
  </div>
</div>
